---
openapi: 3.0.3
info:
  title: Delphi Select
  description: |
    Delphi Select is a restful web Application Programming Interface (API) that allows access to the Experian Consumer Bureau and associated products and services through directed consumer targeting. It sits behind the OKTA service which provides authentication by user, business unit  or reseller and allows access to the developer portal test environment, directly simulating the live production environment.
    A call to Delphi Select can be one of the following types:
    - <b>Creating a Consumer Application</b>
      Delphi Select is predominantly used to target an applicant (Single Application) or group of applicants (Joint Application) based on name, address and date of birth information. This information is passed to Delphi Select to allow it to perform an Experian Bureau Search. As part of the application process a number of different products can be requested to support multiple business flows; this is configurable using the input API. However, the availability of various products is subject to the system account settings. A client must have the required permissions to access each product.

    - <b>Reprocessing a Consumer Application</b>
      Any Reprocessed Applications will always retarget the Experian Credit Bureau and write an appropriate footprint (set by the client). Delphi Score processing will de-duplicate any Credit Search Footprints (CAPS), if they occur within a three-day period of each other. All Credit Search Footprints (CAPS) are recorded for audit purposes. A Reprocess should not be used for a stand-alone Affordability call.

    - <b>Performing a Second Phase Call</b>
      Allows for additional products to be requested as part of an application using only the Experian Unique Reference Number and the appropriate control input values. Predominantly used by businesses to gather additional product data at various stages of an application without having to re-enter the applicant(s) details. For example, the system owner may wish to perform an initial credit assessment and then want to Identity Authenticate those applicants that are credit accepts; Delphi Select provides this functionality, through a Consumer Application followed by a Second Phase call for Identity Authenticate via use of the Consumer Application Experian Unique Reference Number and the appropriate control input values.

    - <b>Performing a Quotation to Full</b>
      Delphi Select allows for input requests to be processed as quotations using a quotation search type on the input call. These quotation calls allow a lender to leave a soft footprint on the Experian Bureau. A Quote To Full call is required when the customer chooses to make an application or credit, based on the quotation / eligibility response. Converting the quotation application into a full application will place a hard footprint search type on the Experian Bureau.

    - <b>Retrieving a Previous Application</b>
      Allows for the retrieval of a previously submitted Consumer Application including the results of the individual products requested. This call type must contain the original Consumer Application Experian Application Reference as the unique identifier to allow Delphi Select to retrieve the relevant application.

    - <b>Receive Data</b>
      Once an input request has been received, Delphi Select will process the request for the required products and return an output API response that contains a Unique Experian Application Reference and the results of the search.

    - <b>Metrics</b>
      The API response will provide metrics on the transaction start time and end time. Please note that the values displayed are not representative of the values that will be returned in the live environment.
  version: 2.4.2.2
servers:
- url: https://sandbox-uk-api.experian.com/risk/consumer/v2
paths:
  /dataselect/application:
    post:
      tags:
      - Consumer Data
      summary: New application request
      description: |
        Delphi Select is predominantly used to target an applicant (Single Application) or group of applicants (Joint Application) based on name, address and date of birth information. This information is passed to Delphi Select to allow it to perform an Experian Bureau Search. As part of the application process a number of different products can be requested to support multiple business flows; this is configurable using the input API. However, the availability of various products is subject to the system account settings. A client must have the required permissions to access each product.
      operationId: Application
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        description: DelphiSelect input object required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Input'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /dataselect/application/{experianreference}:
    get:
      tags:
      - Consumer Data
      summary: Get application request
      description: |
        Allows for the retrieval of a previously submitted Consumer Application including the results of the individual products requested. This call type must contain the original Consumer Application Experian Application Reference as the unique identifier to allow Delphi Select to retrieve the relevant application.
      operationId: GetApplication
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: experianreference
        in: path
        description: Numeric Experian Reference to get
        required: true
        schema:
          type: string
      - name: clientaccnum
        in: query
        description: Account number of the client
        schema:
          type: string
          default: A1234
      - name: fullfblrequired
        in: query
        description: "Controls the return of the Full Bureau Link data, linked to\
          \ all supplied applicants that have been searched"
        schema:
          type: boolean
          default: true
      - name: displayconsumer
        in: query
        description: Controls displaying Consumer data
        schema:
          type: boolean
          default: true
      - name: displayauthenticate
        in: query
        description: Controls displaying ID Authenticate data
        schema:
          type: boolean
          default: false
      - name: displaydetect
        in: query
        description: Controls displaying Detect data
        schema:
          type: boolean
          default: false
      - name: displayaddress
        in: query
        description: Controls displaying address data
        schema:
          type: boolean
          default: false
      - name: displaycasehistory
        in: query
        description: Controls displaying case history data
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
  /dataselect/application/{experianreference}/reprocess:
    put:
      tags:
      - Consumer Data
      summary: Reprocess application request
      description: |
        Any Reprocessed Applications will always retarget the Experian Credit Bureau and write an appropriate footprint (set by the client). Delphi Score processing will de-duplicate any Credit Search Footprints (CAPS), if they occur within a three-day period of each other. All Credit Search Footprints (CAPS) are recorded for audit purposes. A Reprocess should not be used for a stand-alone Affordability call.
      operationId: reProcessPut
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: experianreference
        in: path
        description: Numeric Experian Reference to get
        required: true
        schema:
          type: string
      requestBody:
        description: DelphiSelect input object required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Input'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /dataselect/application/{experianreference}/quotetofull:
    put:
      tags:
      - Consumer Data
      summary: Quotation convert to full request
      description: |
        Delphi Select allows for input requests to be processed as quotations using a quotation search type on the input call. These quotation calls allow a lender to leave a soft footprint search type on the Experian Bureau. A Quote To Full call is required when the customer chooses to make an application or credit, based on the quotation / eligibility response. Converting the quotation application into a full application will place a hard footprint search type on the Experian Bureau.
      operationId: quoteToFullPut
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: experianreference
        in: path
        description: Numeric Experian Reference to get
        required: true
        schema:
          type: string
      requestBody:
        description: DelphiSelect input object required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputQuoteToFull'
        required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputConvertToFull'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /dataselect/application/{experianreference}/secondphaseauthenticate:
    put:
      tags:
      - Consumer Data
      summary: Second phase authenticate request
      description: |
        Request to make a Second phase authenticate call.
      operationId: secondPhaseAuthenticatePut
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: experianreference
        in: path
        description: Numeric Experian Reference to get
        required: true
        schema:
          type: string
      requestBody:
        description: DelphiSelect input object required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputSimplified'
        required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputSecondPhaseAuthenticate'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /dataselect/application/{experianreference}/secondphasedetect:
    put:
      tags:
      - Consumer Data
      summary: Second phase detect request
      description: |
        Request to make a Second Phase Detect call.
      operationId: secondPhaseDetectPut
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: experianreference
        in: path
        description: Numeric Experian Reference to get
        required: true
        schema:
          type: string
      requestBody:
        description: DelphiSelect second phase detect input object required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputSecondPhaseDetect'
        required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputSecondPhaseDetect'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /dataselect/submission/authenticate:
    post:
      tags:
      - Consumer Data
      summary: Authentication only request
      description: |
        Request to get ID Authenticate data only for submission.
      operationId: submissionsAuthenticatePost
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        description: DelphiSelect input object required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputAuthOnly'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputAuthOnly'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /dataselect/submission/detect:
    post:
      tags:
      - Consumer Data
      summary: Detect only request
      description: |
        Request to get Detect data only for submission.
      operationId: submissionsDetectPost
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        description: DelphiSelect input object required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputDetectOnly'
        required: true
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputDetectOnly'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /dataselect/submission/affordability:
    post:
      tags:
      - Consumer Data
      summary: Affordability only request
      description: |
        Provides information to support the ability to pay back a debt. This is different from a customers' historical propensity to re-pay their debts. Experian's Affordability solutions are designed to inform clients if their customers may be becoming over-indebted.
        The first submitted applicant will be the main applicant and only the main applicant and the Joint applicant income will be taken into consideration in the Affordability calculations.
      operationId: submissionsAffordabilityPost
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        description: DelphiSelect input object required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputAffordabilityOnly'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputAffordabilityOnly'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /dataselect/submission/expinscv:
    post:
      tags:
      - Consumer Data
      summary: ExPinSCV only request
      description: |
        Enables the retrieval of an existing ExPin from the Experian UK ExPin Database where a match is found based on the supply of a name, address and date of birth. Only the Main Applicant's ExPin is retrieved. Only one applicant with one address can be supplied.
      operationId: submissionsExPinSCVPost
      parameters:
      - name: Accept
        in: header
        description: Format expected for the request.
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: Content-Type
        in: header
        description: Format expected for the response.
        required: true
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        description: DelphiSelect input object required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputExPINOnly'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputExPINOnly'
        "400":
          description: Bad request due to incorrect input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "401":
          description: Unauthorized error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiGee'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiDet'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApi'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
components:
  schemas:
    AccountBalance:
      maxItems: 999
      minItems: 0
      type: array
      items:
        type: object
        properties:
          AccountBalance:
            maxLength: 7
            minLength: 0
            type: string
            description: |
              Account Balance. Populated with '-999998' if unknown
          Status:
            maxLength: 1
            minLength: 0
            type: string
            description: |
              Current Status of Account.
              Can be one of the following values:
                * 0  Satisfactory
                * 1 Month Delinquent
                * 2 Months Delinquent
                * 3 Months Delinquent
                * 4 Months Delinquent
                * 5 Months Delinquent
                * 6 Months Delinquent
                * 8 Default
                * 9 Bad Debt
                * S Slow Payer
                * U Unclassified
                * D Dormant
                * ? Unknown Status
    AdditDelphiBlocks:
      type: object
      properties:
        APACSCCBehavrlData:
          $ref: '#/components/schemas/APACSCCBehavrlData'
        Utilisationblock:
          $ref: '#/components/schemas/Utilisationblock'
        NeverPaidDefsBlock:
          $ref: '#/components/schemas/NeverPaidDefsBlock'
        TelecommsBlock:
          $ref: '#/components/schemas/TelecommsBlock'
        BespokeBlock:
          $ref: '#/components/schemas/BespokeBlock'
        HomeCreditBlock:
          $ref: '#/components/schemas/HomeCreditBlock'
        TrendedData:
          $ref: '#/components/schemas/TrendedDataBlock'
        EstimatedDisposableIncomeRAG:
          $ref: '#/components/schemas/EstimatedDisposableIncomeRAG'
        HighCostCredit:
          $ref: '#/components/schemas/HighCostCreditBlock'
    AdditDelphiBlocksAffordability:
      type: object
      properties:
        Utilisationblock:
          $ref: '#/components/schemas/Utilisationblock'
        EstimatedDisposableIncomeRAG:
          $ref: '#/components/schemas/EstimatedDisposableIncomeRAG'
    AdditionalData:
      type: object
      properties:
        DrivingLicenceNumber:
          maxLength: 16
          minLength: 0
          pattern: "^.{0,16}$"
          type: string
          example: DL001
        VehicleRegistration:
          maxLength: 8
          minLength: 0
          pattern: "^.{0,30}$"
          type: string
          example: REG001
        PlaceOfBirth:
          maxLength: 80
          minLength: 0
          pattern: "^.{0,80}$"
          type: string
          example: ' '
        MothersMaidenName:
          maxLength: 80
          minLength: 0
          pattern: "^.{0,80}$"
          type: string
          example: ' '
        BirthSurname:
          maxLength: 80
          minLength: 0
          pattern: "^.{0,80}$"
          type: string
          example: ' '
    AffordabilityIQ:
      type: object
      properties:
        MainApplicantNMI:
          maximum: 9999999
          minimum: -999999
          type: integer
          description: Main Applicant Supplied - Net Monthly Income in GBP
          format: int32
          example: 9999
        JointApplicantNMI:
          maximum: 9999999
          minimum: -999999
          type: integer
          description: Joint Applicant Supplied - Net Monthly Income in GBP
          format: int32
          example: 9999
    AffordabilityIQ2:
      type: object
      properties:
        MinimumIncomeNMIValue:
          maximum: 999999999
          minimum: -99999999
          type: integer
          description: Minimum Income NMI Value
          format: int32
          example: 9999
    AffordabilityIQ2Response:
      type: object
      properties:
        MinimumIncome:
          $ref: '#/components/schemas/MinimumIncome'
        DTI2:
          $ref: '#/components/schemas/DTI2'
        IncomeShock2:
          $ref: '#/components/schemas/IncomeShock2'
        IncomeStability2:
          $ref: '#/components/schemas/IncomeStability2'
        EDIRAG2:
          $ref: '#/components/schemas/EDIRAG2'
        ExpenditurePlusHousing:
          $ref: '#/components/schemas/ExpenditurePlusHousing'
        ExpenditurePlusCouncilTax:
          $ref: '#/components/schemas/ExpenditurePlusCouncilTax'
        ExpenditurePlusEnergy:
          $ref: '#/components/schemas/ExpenditurePlusEnergy'
        ExpenditurePlusEDI:
          $ref: '#/components/schemas/ExpenditurePlusEDI'
        ExpenditurePlusHouseholdComposition:
          $ref: '#/components/schemas/ExpenditurePlusHouseholdComposition'
    AffordabilityIQResponse:
      type: object
      properties:
        AFFV01:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification Index / CATO Warning Indicator - Estimate L12M
            Only populated if Gold level Income Estimation and Verification package is requested.  Income Verification Index based on the Main Applicant Supplied Income and Main Applicant CATO Income Estimate.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant CATO Warning Indicator (Silver)
            Only populated if Silver level Income Estimation and Verification package is requested.  CATO Warning Indicator based on the Main Applicant Supplied Income and Main Applicant CATO Income Estimate.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant CATO Warning Indicator (Bronze)
            Only populated if Bronze package and relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and Main Applicant CATO Income Estimate.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV02:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator - Estimate L12M
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and Family Economic Unit CATO Income Estimate

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Estimate (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and Family Economic Unit CATO Income Estimate.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Estimate (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income Estimate and Family Economic Unit CATO Income Estimate.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV03:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator – Estimate L6M
            Only populated if Gold level Income Estimation and Verification package is requested.  Income Verification Index based on the Main Applicant Supplied Income and Main Applicant CATO Income Estimate limited to the last 6 months CATO data.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant CATO Warning Indicator (Silver)
            Only populated if Silver level Income Estimation and Verification package is requested.  CATO Warning Indicator based on the Main Applicant Supplied Income and Main Applicant CATO Income Estimate  limited to the last 6 months CATO data.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant CATO Warning Indicator (Bronze)
            Only populated if Bronze package and relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and Main Applicant CATO Income Estimate  limited to the last 6 months CATO data.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV04:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator – Estimate L6M
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and Family Economic Unit CATO Income Estimate limited to the last 6 months CATO data.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Estimate (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and Family Economic Unit CATO Income Estimate limited to the last 6 months CATO data.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Estimate (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income Estimate and Family Economic Unit CATO Income Estimate limited to the last 6 months CATO data.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV05:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator – Estimate L3M

            Only populated if Gold level Income Estimation and Verification package is requested.  Income Verification Index based on the Main Applicant Supplied Income and Main Applicant CATO Income Estimate limited to the last 3 months CATO data.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant CATO Warning Indicator (Silver))
            Only populated if Silver level Income Estimation and Verification package is requested.  CATO Warning Indicator based on the Main Applicant Supplied Income and Main Applicant CATO Income Estimate limited to the last 3 months CATO data.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant CATO Warning Indicator (Bronze)
            Only populated if Bronze package and relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and Main Applicant CATO Income Estimate limited to the last 3 months CATO data.
            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV06:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator – Estimate L3M
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and Family Economic Unit CATO Income Estimate limited to the last 3 months CATO data.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Estimate (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and Family Economic Unit CATO Income Estimate limited to the last 3 months CATO data.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Estimate(Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income Estimate and Family Economic Unit CATO Income Estimate limited to the last 3 months CATO data.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV07:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator – Total Turnover
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Main Applicant Supplied Income and Total Turnover across all the Main Applicant's CATO accounts

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant Income CATO Warning Indicator – Total Turnover (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Supplied Income and Total Turnover across all the Main Applicant's CATO accounts

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant Income CATO Warning Indicator – Total Turnover (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and Total Turnover across all the Main Applicant's CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV08:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator - Total Turnover
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and Total Turnover across all the Main Applicant and Joint Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Total Turnover (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and Total Turnover across all the Main Applicant and Joint Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Total Turnover (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income Estimate and Total Turnover across all the Main Applicant and Joint Applicant or financial associate's CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV09:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator - Total Turnover (Sole Accounts Only)
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Main Applicant Supplied Income and Total Turnover across all the Main Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant Income CATO Warning Indicator – Total Turnover (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Supplied Income and Total Turnover across all the Main Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant Income CATO Warning Indicator – Total Turnover (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and Total Turnover across all the Main Applicant's CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV10:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator - Total Turnover (Sole Accounts Only)
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and Total Turnover across all the Main Applicant and Joint Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Total Turnover (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and Total Turnover across all the Main Applicant and Joint Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Total Turnover (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income Estimate and Total Turnover across all the Main Applicant and Joint Applicant or financial associate's solely held CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV11:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator - Last Month Turnover
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Main Applicant Supplied Income and the last month's turnover across all the Main Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant Income CATO Warning Indicator – Last Month's Turnover (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Supplied Income and the last month's turnover across all the Main Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant Income CATO Warning Indicator – Last Month's Turnover (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and the last month's turnover across all the Main Applicant's CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV12:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator - Last Month Turnover
            Family Economic Unit Income Verification – Total Turnover Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and the last month's turnover across all the Main Applicant and Joint Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Total Turnover (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and the last month's turnover across all the Main Applicant and Joint Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Total  Turnover (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income Estimate and the last month's turnover across all the Main Applicant and Joint Applicant or financial associate's CATO accounts

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV13:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator - Last Month Turnover (Sole Accounts Only)
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Main Applicant Supplied Income and the last month's turnover across all the Main Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant Income CATO Warning Indicator – Last  Month's Turnover (Sole Accounts) (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Supplied Income and the last month's turnover across all the Main Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant Income CATO Warning Indicator – Last Month's Turnover (Sole Accounts) (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and the last month's turnover across all the Main Applicant's solely held CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV14:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator - Last Month Turnover (Sole Accounts Only)
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and the last month's turnover across all the Main Applicant and Joint Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Last Month's Turnover (Sole Accounts) (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and the last month's turnover across all the Main Applicant and Joint Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Last  Month's Turnover (Sole Accounts) (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income Estimate and the last month's turnover across all the Main Applicant and Joint Applicant or financial associate's solely held CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV15:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator - Last Three Month's Turnover
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Main Applicant Supplied Income and the last three month's turnover across all the Main Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant Income CATO Warning Indicator – Last Three Month's Turnover (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Supplied Income and the last three month's turnover across all the Main Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant Income CATO Warning Indicator – Last Three Month's Turnover (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and the last three month's turnover across all the Main Applicant's CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV16:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator - Last Three Month's Turnover
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and the last three month's turnover across all the Main Applicant and Joint Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Last Three Month's Turnover (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and the last three month's turnover across all the Main Applicant and Joint Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Last Three Month's Turnover (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income Estimate and the last three month's turnover across all the Main Applicant and Joint Applicant or financial associate's CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV17:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator - Last Three Month's Turnover (Sole Accounts Only)
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Main Applicant Supplied Income and the last month's turnover across all the Main Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant Income CATO Warning Indicator – Last Three Month's Turnover (Sole Accounts) (Silver)

            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Supplied Income and the last three month's turnover across all the Main Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant Income CATO Warning Indicator – Last Three  Month's Turnover (Sole Accounts) (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and the last three month's turnover across all the Main Applicant's solely held CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV18:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator - Last Three Month's Turnover (Sole Accounts Only)
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and the last three month's turnover across all the Main Applicant and Joint Applicant's solely held CATO accounts.
            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Last Three Month's Turnover (Sole Accounts) (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and the last three month's turnover across all the Main Applicant and Joint Applicant's solely held CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Last Three Month's Turnover (Sole Accounts) (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income Estimate and the last three month's turnover across all the Main Applicant and Joint Applicant or financial associate's solely held CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV19:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator – Maximum Turnover Every Month
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Main Applicant Supplied Income and the highest turnover every month across all the Main Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant Income CATO Warning Indicator – Maximum Turnover Every Month (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Supplied Income and the highest turnover every month across all the Main Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            Main Applicant Income CATO Warning Indicator – Maximum Turnover Every Month (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Main Applicant Bureau Income Model and the highest turnover every month across all the Main Applicant's CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV20:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator - Maximum Turnover Every Month
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on the Family Economic Unit Supplied Income and the sum of the highest turnover every month across all the Main Applicant's CATO accounts and Joint Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – Maximum Turnover Every Month (Silver)
            Only populated if Silver package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Family Economic Unit Supplied Income and the sum of the highest turnover every month across all the Main Applicant's CATO accounts and Joint Applicant's CATO accounts.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Family Economic Unit CATO Warning Indicator – Maximum Turnover Every Month (Bronze)
            Only populated if Bronze package and Relevant Income Estimate is requested. CATO Warning Indicator based on the Preferred Family Economic Unit Income and the sum of the highest turnover every month across all the Main Applicant's CATO accounts and Joint Applicant or financial associate's CATO accounts.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV21:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Main Applicant Income Verification / CATO Warning Indicator – All Sources
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on all the previous verification indexes. The all sources index will take the "most positive" verification index from each of the different verification indexes returned.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Main Applicant Income CATO Warning Indicator – All Sources (Silver)
            Only populated if Silver package and at least one of the Income Estimates has been requested. CATO Warning Indicator based on all the previous verification indexes. The all sources index will take the "most positive" verification index from each of the different verification indexes returned

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

            Main Applicant Income CATO Warning Indicator – All Sources (Bronze)
            Only populated if Bronze package and one of the Income Estimates has been requested. CATO Warning Indicator based on all the previous verification indexes. The all sources index will take the "most positive" verification index from each of the different verification indexes returned.

            Possible values are
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Preferred Income as a % CATO Income Estimate >= 151%
            * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
            * 3 Preferred Income as a % CATO Income Estimate <= 110%
          format: int32
        AFFV22:
          maximum: 99
          minimum: -5
          type: integer
          description: |-
            Family Economic Unit Income Verification / CATO Warning Indicator – All Sources
            Only populated if Gold package and Relevant Income Estimate is requested. Income Verification Index based on all the previous verification indexes. The all sources index will take the "most positive" verification index from each of the different verification indexes returned.

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            *  0  Supplied Income as a % Income Estimate >= 201%
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            * 99 Supplied Income as a % Income Estimate <= 90%

            Family Economic Unit CATO Warning Indicator – All Sources (Silver)
            Only populated if Silver package and at least one of the Income Estimates has been requested

            Possible values are
            * -5 Missing or Invalid Supplied Income
            * -3 Insufficient data to verify income
            * -2 No CATO data found
            * -1 No Trace
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper Boundary"%
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower Boundary"%

[...]
